@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    @apply bg-gray-50 text-gray-900;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}